@keyframes blink {
	0%,
	100% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
}

.animate-blink {
	animation: blink 1s steps(1, start) infinite;
}

/* BALON */
.balloon {
	font-size: 3rem;
	cursor: pointer;
	transition: transform 0.2s ease, opacity 0.2s ease;
}

.balloon.popped {
	animation: pop 0.4s forwards;
}

@keyframes pop {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.5);
		opacity: 0.8;
	}
	100% {
		transform: scale(0);
		opacity: 0;
	}
}

.snow-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: 1000;
	overflow: hidden;
}

@keyframes snowfall {
	0% {
		transform: translate3d(var(--left-ini), 0, 0);
	}
	100% {
		transform: translate3d(var(--left-end), 110vh, 0);
	}
}

.snow {
	position: absolute;
	top: -10px;
	animation: snowfall linear infinite;
	border-radius: 50%;
	background-color: white;
	box-shadow: 0 0 3px rgba(255, 255, 255, 0.8);
}
